{% extends 'base.html' %}

{% block body %}


    

  <div class="vid-main-wrapper clearfix">


         <div class="vid-container">
              <iframe id="vid_frame_0" src="https://www.youtube.com/embed/{{main_vid}}?rel=0&showinfo=0&autohide=1" frameborder="0" width="560" height="315" allowfullscreen="true"></iframe>

          </div>

         
        <div class="vid-list-container">
            <ol id="vid-list">
             {% for item in vid_list %}
             
             <li>
                <a href="javascript:void();" onClick="document.getElementById('vid_frame_0').src='https://youtube.com/embed/{{item}}?fs=1&autoplay=1&rel=0&showinfo=0&autohide=1'">
                  <span class="vid-thumb"><img src="https://img.youtube.com/vi/{{item}}/hqdefault.jpg" /></span>
                   <div class="desc">{{item}} </div>

                </a>
              </li>
            
            {% endfor %}   
            
            </ol>
        </div>
 </div>

  <div class="wrapper clearfix">


<div class="scroll-container" tabindex="1">
  
 
  
</div>

</div>
   
 


{% endblock %}
