 

{% extends 'base.html' %}

{% block body %} 

 
 <ul class="accordion">


  {% for item in vid_list %}
    <li class="accordion-item">
    <h3 class="accordion-thumb">{{item}}</h3>
    <p class="accordion-panel">
        <div class="video-player__thumbs">
      
          {% for val in vid_list[item] %}

               <a href="https://youtube.com/watch?v={{val}}">
                <img src="https://img.youtube.com/vi/{{val}}/hqdefault.jpg">
              </a>
 
        
          {% endfor %}
        </div>
    </p>
{% endfor %}

{% endblock %}
